body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('background.jpg'); /* Replace 'background.jpg' with your background image */
    background-size: cover;
    background-blur: 10px; /* Adjust the blur level as needed */
}

.profile-card {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.7); /* Semi-transparent background */
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    backdrop-filter: blur(10px); /* Adjust the blur level to match the background blur */
}



img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin: 0 auto 20px;
}

h1 {
    font-size: 24px;
    margin: 0;
    color: #333;
}

p {
    font-size: 18px;
    margin: 10px 0;
    color: #777;
}
